* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Open-sans, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
}

.calendar {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px (#000);
}
